/* src\components\FormularioCadastro\styles.css */

.container {
    background: white;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
  
.container img {
    width: 200px;
    margin-bottom: 20px;
}
/* Estilo geral do select */
select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    width: 100%; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  /* Efeito de foco */
select:focus {
    border-color: #007bff;
    outline: none;
  }
/* Estilo das opções */
option {
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  /* Hover nas opções */
option:hover {
    background-color: #28a745;  /* Verde */
    color: white; /* Alterando a cor do texto para branco */
  }
  /* Estilo para o primeiro item (texto "Selecione o sexo") */
option:disabled {
    color: #aaa;
  }
  /* Estilo quando o select é clicado */
select:hover {
    background-color: #f5f5f5;
  }
 
h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #284ea7;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
  
input,
button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}
  
input {
    border: 1px solid #ccc;
}
input:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
} 
button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #28a745; 
    margin-top: 10px;
    transition: 0.3s;
}
  
button:hover {
    background-color: #218838;
}
  
.link-usuarios {
    margin-top: 25px;
    text-decoration: none;
    color: #f4f4f4;
    font-size: 14px;
}
  
.link-usuarios:hover {
    text-decoration: none;
}
