/* src\pages\Bemvindo\styles.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pagina-bemvindo {
  background-image: url('../../assets/images/campodefutibas.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh; /* Garantia que pega 100% da altura da tela */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-shadow: 1px 1px 2px black;
}

.pagina-bemvindo h1 {
  color: #2e8b57;
  font-size: 3rem;
}

.pagina-bemvindo p {
  font-size: 1.2rem;
}

.botao-bemvindo{
  width: 50%;
}
